{{ define "main" }}
<main role="main">

    <!-- Big Pretty Banner //-->
	<div class="container-fluid px-0 mx-0">
		<div class="container p-5 my-4 shadow br">
			<h2 class="pb-2 border-bottom text-muted">Atomic, Composable, <b>Fast</b></h2>
			<p class="lead">The collective efforts of a community of contributors to make your life easier with optimal
			performance and sensible configuration options helping you get the most from your computing experience.</p>
			<p>Life's too short to keep you waiting</p>

			 <a href="https://opencollective.com/serpent-os/contribute" class="my-2" target="_blank">
				<img src="https://opencollective.com/webpack/contribute/button@2x.png?color=blue" width=300 />
			</a>
		</div>
	</div>

	<!--
	<div class="container-fluid px-0 mx-0">
		<div class="container py-5 my-4">
			<h2 class="pb-2 border-bottom text-muted">Latest posts</h2>
			<p>We'll add some posts here..</p>
		</div>
		<div class="page-cutter" />
	</div>//-->

	<div class="container p-5 shadow my-4 br" id="features-cards">
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 py-5">
			<!-- Flexible //-->
			<div class="col">
				<div class="card shadow-none border-0">
					<div class="card-body d-flex align-items-start">
						<i class="fas fa-infinity text-info fa-3x mx-3"></i>
						<div>
							<h4 class="fw-bold mb-0">Power to <b>You</b></h4>
							<p>Empowering users to make their own decisions, without getting in their way.</p>
							<a class="stretched-link" href="/flexibility">Find out more<i class="fas fa-chevron-right mx-2 fa-xs"></i></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Fast //-->
			<div class="col">
				<div class="card shadow-none border-0">
					<div class="card-body d-flex align-items-start">
						<i class="fas fa-shipping-fast text-info fa-3x mx-3"></i>
						<div>
							<h4 class="fw-bold mb-0">Fast</h4>
							<p>Pushing the limits of what's possible by making binaries more efficient in all configurations.</p>
							<a class="stretched-link" href="/fast">Find out more<i class="fas fa-chevron-right mx-2 fa-xs"></i></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Reliable //-->
			<div class="col">
				<div class="card shadow-none border-0">
					<div class="card-body d-flex align-items-start">
						<i class="fas fa-hands-helping text-info fa-3x mx-3"></i>
						<div>
							<h4 class="fw-bold mb-0">Reliable</h4>
							<p>Built on top of the robust Linux kernel. Our mission is to keep you running without the hassle.</p>
							<a class="stretched-link" href="/reliable">Find out more<i class="fas fa-chevron-right mx-2 fa-xs"></i></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Smarter //-->
			<div class="col">
				<div class="card shadow-none border-0">
					<div class="card-body d-flex align-items-start">
						<i class="fas fa-brain text-info fa-3x mx-3"></i>
						<div>
							<h4 class="fw-bold mb-0">Smarter</h4>
							<p>Subscriptions make life easier by installing packages you need before you discover you need it.</p>
							<a class="stretched-link" href="/subscriptions">Find out more<i class="fas fa-chevron-right mx-2 fa-xs"></i></a>
						</div>
					</div>
				</div>
			</div>


			<!-- Helping Contributors //-->
			<div class="col">
				<div class="card shadow-none border-0">
					<div class="card-body d-flex align-items-start">
						<i class="fas fa-code text-info fa-3x mx-3"></i>
						<div>
							<h4 class="fw-bold mb-0">Helping Contributors</h4>
							<p>Reducing frictions and improving the efficiency of contributors and developers.</p>
							<a class="stretched-link" href="/contribute">Find out more<i class="fas fa-chevron-right mx-2 fa-xs"></i></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Community Oriented //-->
			<div class="col">
				<div class="card shadow-none border-0">
					<div class="card-body d-flex align-items-start">
						<i class="fas fa-heartbeat text-info fa-3x mx-3"></i>
						<div>
							<h4 class="fw-bold mb-0">Community Oriented</h4>
							<p>A fun and welcoming environment for users, contributors and the team.</p>
							<!--<a class="stretched-link" href="#">Find out more<i class="fas fa-chevron-right mx-2 fa-xs"></i></a>//-->
						</div>
					</div>
				</div>
			</div>

			<!-- Free //-->
			<div class="col">
				<div class="card shadow-none border-0">
					<div class="card-body d-flex align-items-start">
						<i class="fas fa-money-bill text-info fa-3x mx-3"></i>
						<div>
							<h4 class="fw-bold mb-0">Free</h4>
							<p>Serpent OS is and always will be free to download. This includes the open source tools we use to create it.</p>
							<!--<a class="stretched-link" href="#">Find out more<i class="fas fa-chevron-right mx-2 fa-xs"></i></a>//-->
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</main>
{{ end }}
